<!DOCTYPE html>
<html>
  <head>
    <title>Begger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="sidebar-mini" height="height: auto">
    <div class="wrapper">
      <%= render partial: "layouts/aside"%>
      <%= render partial: "layouts/nav" %>
      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <%= content_for(:content_header) %>
              </div>
            </div>
          </div>
        </section>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
